body{
			background-color: #27AE60;
			font-family: 'Comfortaa';
		}

		#container{
			background-color: #A3E4D7;
			width: 30%;
			height: 100%;
			margin-left: 35%;
			margin-top: 5%;
			margin-bottom: 5%;
		}

		#header{
			background-color: #239B56;
			text-align: center;
			padding-top: 0px;
			font-size: 15px;
			padding: 5px;
			color: #EADA16;
			border-bottom: 5px solid #EADA16;
			transition-property: color, border-bottom;
			transition-duration: 0.8s;
		}

		#header:hover{
			color: #E79105;
			border-bottom: 5px solid #E79105;
		}

		#footer{
			background-color: #239B56;
			text-align: right;
			margin-top: 68px;
			padding: 25px;
			border-top: 5px solid #EADA16;
		}

		#footer a{
			text-decoration: none;
			color: #EADA16;
			font-size: 20px;
			border: 1px solid #EADA16;
			padding: 8px;
			border-radius: 12px;
			transition-property: border, color;
			transition-duration: 0.8s;
		}

		#footer a:hover{
			border: 1px solid #E79105;
			color: #E79105;
		}

		form{
			margin: 20px;
			text-align: center;
			margin-top: 25px;
		}

		.inputText{
			padding: 5px;
			text-align: center;
			font-family: 'Comfortaa';
			border: 3px solid #EADA16;
			border-radius: 12px;
			width: 250px;
			font-size: 15px;
			transition-property: border;
			transition-duration: 0.8s;
		}
		.inputText:hover{
			border: 3px solid #E79105;
		}
		.inputText:focus{
			border: 3px solid #E79105;
			outline: none;
		}
		.inputSubmit{
			font-family: 'Comfortaa';
			border-radius: 12px;
			border: 1px solid #EADA16;
			font-size: 20px;
			padding: 8px;
			cursor: pointer;
			color: #EADA16;
			background-color: #239B56;
			transition-property: border, color;
			transition-duration: 0.8s;
		}
		.inputSubmit:hover{
			border: 1px solid #E79105;
			color: #E79105
		}
		.inputSubmit:focus{
			outline: none;
		}

		#corp{
			top: 1px;
			position: absolute;
			width: 29%;
			margin-top: 0.2%;
			margin-left: 65%; 
		}
		#gras{
			font-weight: bold;
			color: red;
		}
		.rouge{
			color: red;
		}
		nav ul{
			padding: 0px;
			margin: 0px;
			list-style-type: none;
			background-color: #333333;
		}
		nav li{
			font-family: 'Comfortaa';
			display: inline-block;
			width: 12%;
			height: 40px;
			margin: 0px;
			padding: 0px;
			border-right: 1px solid #CCCCCC;
			text-align: center;
			line-height: 40px;
		}
		nav li :hover{
			background-color: #27AE60;
		}
		nav li a{
			font-family: 'Comfortaa';
			text-decoration: none;
			display: block;
			color: #FFFFFF;
		}
		#texteCentre{
			text-align: center;
			font-family: 'Comfortaa';
			font-weight: bold;
			font-size: 20px;
		}
		#butilisateur{
			color: #27AE60;
			font-weight: bold;
			font-size: 14px;
			font-family: 'Comfortaa';
		}
		#yt{
			background-color: #424242;
			padding: 10px;
			margin-top: 5%;
			margin-left: 30%;
			margin-right: 30%;
			margin-bottom: 10%;
			border-style: solid;
			border-width: 2px;
			bottom: 10%;
		}
		#actu{
			width: 22%;
			font-family: 'Comfortaa';
			position: absolute;
			top: 16%;
			padding: 2%;
			margin-left: 2%;
			margin-right: 75%; 
			border-style: solid;
			border-width: 2px;
			bottom: 10%;
		}
		.ytt{
			font-weight: bold;
			font-family: 'Comfortaa';
			font-size: 20px;
		}
		.w100{
			width: 100%;
		}
		.actualite{
			font-family: 'Comfortaa';
			font-size: 18px;
			font-weight: 700;
			text-align: justify;
		}
		.actual{
			font-family: 'Comfortaa';
			font-size: 28px;
			font-weight: 850;
			color: red;
			text-align: center;
		}
		#chat{
			border-style: solid;
			border-width: 4px;
			margin: 5% 25% 5% 25%;
		}
		#affichage{
			border-style: dotted;
			border-width: 2px;
			margin: 1% 2% 1% 2%;
		}
		.minichat{
			font-family: 'Comfortaa';
			text-align: justify;
			color: #17202A;
		}
		.pseudo{
			font-family: 'Comfortaa';
			font-size: 20px;
		}
		#prof{
			width: 22%;
			font-family: 'Comfortaa';
			position: absolute;
			padding: 2%;
			top: 16%;
			margin-left: 71%;
			margin-right: 2%; 
			border-style: solid;
			border-width: 2px;
			bottom: 10%;
		}