body
{
	background-color: #1C1C1C; 
}

.bandeau
{
	font-family: Arial, "Trebuchet MS", Verdana, sans-serif;
	color: #FFFFFF;
	text-align: center;
	border: 10px;
	background-color: #0A2229;
	box-shadow: 20px 20px 50px black;
	width: 70%;
	position: fixed;
	left: 50%;
	top: 8%;
	transform: translate(-50%, -50%);	
	
	
}

.banniere
{
	background-image: url("image/banniere/banniere04.png")    ;
	height: 180px; 
	background-position:center;
}



/* FIN BLOC MENU HORIZONTAL */

.content
{
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
	color: black;
	text-align: justify;
	border: 10px;
	background-color: #DBE0E7;
	box-shadow: 6px 6px 6px black;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	height: 700px;
	margin-bottom: 20px;	
	margin-top: 200px;
	border-radius: 10px 10px 0px 0px;
}

/*MENU*/
#menu, #menu ul{
padding:0;
margin:0;
list-style:none;
text-align:center;
}
#menu li{
display:inline-block;
position:relative;
border-radius:8px 8px 0 0;
}
#menu ul li{
display:inherit;
border-radius:0;
}
#menu ul li:hover{
border-radius:0;
}
#menu ul li:last-child{
border-radius:0 0 8px 8px;
}
#menu ul{
position:absolute;
z-index: 1000;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}
#menu li:hover ul{
max-height:15em;
}

#menu li:first-child{
background-color: #088A85;
background-image:-webkit-linear-gradient(top, #088A85 0%, #088A85 100%);
background-image:linear-gradient(to bottom, #088A85 0%, #088A85 100%);
}
#menu li:nth-child(2){
background-color: #088A85;
background-image: -webkit-linear-gradient(top, #088A85 0%, #088A85 100%);
background-image:linear-gradient(to bottom, #088A85 0%, #088A85 100%);
}
#menu li:nth-child(3){
background-color: #088A85;
background-image:-webkit-linear-gradient(top, #088A85 0%, #088A85 100%);
background-image:linear-gradient(to bottom, #088A85 0%, #088A85 100%);
}
#menu li:last-child{
background-color: #088A85;
background-image:-webkit-linear-gradient(top, #088A85 0%, #088A85 100%);
background-image:linear-gradient(to bottom, #088A85 0%, #088A85 100%);
}
/* background des liens sous menus */
#menu li:first-child li{
background:#0B615E;
}
#menu li:nth-child(2) li{
background:#0B615E;
}
#menu li:nth-child(3) li{
background:#0B615E;
}
#menu li:last-child li{
background:#0B615E;
}
/* background des liens menus et sous menus au survol */
#menu li:first-child:hover, #menu-demo2 li:first-child li:hover{
background:#088A85;
}
#menu li:nth-child(2):hover, #menu-demo2 li:nth-child(2) li:hover{
background:#088A85;
}
#menu li:nth-child(3):hover, #menu-demo2 li:nth-child(3) li:hover{
background:#088A85;
}
#menu li:last-child:hover, #menu-demo2 li:last-child li:hover{
background:#088A85;
}
/* les a href */
#menu a{
text-decoration:none;
display:block;
padding:8px 32px;
color:#fff;
font-family:arial;
}
#menu ul a{
padding:8px 0;
}
#menu li:hover li a{
color:#fff;
text-transform:inherit;
}
#menu li:hover a, #menu-demo2 li li:hover a{
color:#000;
}

/* FIN MENU */

.piedpage
{
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
	color: #353535;
	border: 10px;
	background-color: #DBE0E7;
	box-shadow: 6px 6px 6px black;
	height: 50px;
	clear:both;	
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	height: 100px;
	border-radius: 10px 10px 10px 10px;
}

